<a href="https://colab.research.google.com/github/trehansalil/loan_prediction_proect/blob/main/Loan_Prediction_Experiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, PowerTransformer

In [77]:
!unzip data\(3\).zip

Archive:  data(3).zip
replace data/Dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [78]:
data = pd.read_csv('data/Dataset.csv', low_memory=False)
data_dict = pd.read_csv('data/Data_Dictionary.csv')

In [79]:
key_columns = ['Client_Income', 'Employed_Days', 'Active_Loan', 'Credit_Amount', 'Credit_Bureau', 'Loan_Annuity', 'Child_Count',
               'Client_Permanent_Match_Tag', 'Client_Contact_Work_Tag', 'ID_Days']

demographic_vars = ['Client_Education', 'Client_Income_Type', 'Client_Income',
                    'Client_Education', 'Client_Marital_Status', 'Client_Gender',
                    'Age_Days', 'Type_Organization', 'Social_Circle_Default', 'ID_Days']

collateral_vars = ['Car_Owned', 'Bike_Owned', "House_Own"]

collateral_vars

['Car_Owned', 'Bike_Owned', 'House_Own']

In [80]:
data_var_dict = dict(zip(data_dict['Variable'],  data_dict['Description']))

def define_var(var_name):
  return data_var_dict[var_name]

In [81]:
for col in key_columns:
  print(f"{col}, {define_var(var_name=col)}")

Client_Income, Client Income in $
Employed_Days, Days before the application, the client started earning
Active_Loan, Any other active loan at the time of aplication of loan (0 means No and 1 means otherwise)
Credit_Amount, Credit amount of the loan in $
Credit_Bureau, Total number of enquiries in last year
Loan_Annuity, Loan annuity in $
Child_Count, Number of children the client has
Client_Permanent_Match_Tag, Indication if client contact address does not match permanent address.
Client_Contact_Work_Tag, Indication if client work address does not match contact address.
ID_Days, Days before the loan application, the client changed his/her identity document with which the loan was applied

In [82]:
for col in demographic_vars:
  print(f"{col}, {define_var(var_name=col)}")

Client_Education, Highest level of education ahieved by client
Client_Income_Type, Clients income type
Client_Income, Client Income in $
Client_Education, Highest level of education ahieved by client
Client_Marital_Status, Marital status of client (D- Divorced, S- Single, M- Married, W- Widowed)
Client_Gender, Gender of the Client
Age_Days, Age of the client at the time of application submission
Type_Organization, Type of organization where client works
Social_Circle_Default, How many friends/family member of client defaulted on any loan payment in last 60 days
ID_Days, Days before the loan application, the client changed his/her identity document with which the loan was applied

In [83]:
for col in collateral_vars:
  print(f"{col}, {define_var(var_name=col)}")

Car_Owned, Any Car owned by client before applying for the loan for another car (0 means No and 1 means otherwise)
Bike_Owned, Any bike owned by client (0 means No and 1 means otherwise)
House_Own, Any house owned by client (0 means No and 1 means otherwise)

In [84]:
rows, columns = data.shape

print(f"The number of rows: {rows} and columns: {columns} are as follows")

The number of rows: 121856 and columns: 40 are as follows

In [85]:
(data.isnull().sum()/data.shape[0]).loc[data.isnull().sum()==0]

ID                            0.0
Mobile_Tag                    0.0
Homephone_Tag                 0.0
Workphone_Working             0.0
Client_Permanent_Match_Tag    0.0
Client_Contact_Work_Tag       0.0
Default                       0.0
dtype: float64

In [86]:
define_var(var_name="Mobile_Tag")

'Mobile Number provided by Client (1 means Yes and 0 means No)'

In [87]:
define_var(var_name="Homephone_Tag")

'Homephone Number provided by Client (1 means Yes and 0 means No)'

In [88]:
define_var(var_name="Workphone_Working")

'Was workphone number reachable (1 means Yes and 0 means No)'

In [89]:
define_var(var_name="Client_Permanent_Match_Tag")

'Indication if client contact address does not match permanent address.'

In [90]:
define_var(var_name="Client_Contact_Work_Tag")

'Indication if client work address does not match contact address.'

In [91]:
define_var(var_name="Own_House_Age")

"Age of Client's house in years"

In [92]:
define_var(var_name="ID_Days")

'Days before the loan application, the client changed his/her identity document with which the loan was applied'

In [98]:
define_var(var_name="Loan_Annuity")

'Loan annuity in $'

In [93]:
def null_status():
  return ((data.isnull().sum()*100/data.shape[0]).loc[data.isnull().sum()!=0]).sort_values(ascending=False)

In [94]:
null_status()

Own_House_Age                 65.729221
Score_Source_1                56.488806
Social_Circle_Default         50.820641
Client_Occupation             34.003250
Score_Source_3                22.092470
Credit_Bureau                 15.214680
ID_Days                        4.897584
Score_Source_2                 4.666163
Population_Region_Relative     3.985852
Loan_Annuity                   3.948923
Client_Income_Type             3.037191
Client_Housing_Type            3.025702
Phone_Change                   3.006828
Application_Process_Hour       3.006007
House_Own                      3.004366
Loan_Contract_Type             2.996159
Employed_Days                  2.994518
Client_Education               2.991236
Child_Count                    2.985491
Active_Loan                    2.983029
Credit_Amount                  2.980567
Bike_Owned                     2.974002
Registration_Days              2.965796
Type_Organization              2.961692
Client_Income                  2.960051
Age_Days                       2.954307
Car_Owned                      2.938715
Client_Marital_Status          2.850085
Application_Process_Day        1.992516
Client_Gender                  1.980206
Client_Family_Members          1.977744
Cleint_City_Rating             1.976924
Accompany_Client               1.432839
dtype: float64

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [97]:
data.describe()

,ID,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Score_Source_1,Score_Source_2,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
count,1.218560e+05,118275.000000,118232.000000,118221.000000,118195.000000,118218.000000,41761.000000,121856.000000,121856.000000,121856.000000,119446.000000,119447.000000,119428.000000,118193.000000,53021.000000,116170.000000,59928.000000,118192.000000,103316.000000,121856.000000
mean,1.216093e+07,0.342854,0.332262,0.499175,0.692060,0.417779,12.157324,0.999992,0.200499,0.281201,2.154329,2.030038,3.159736,12.063100,0.501213,0.518625,0.117428,962.106056,1.891082,0.080792
std,3.517694e+04,0.474665,0.471026,0.500001,0.461644,0.728802,12.056079,0.002865,0.400375,0.449587,0.912686,0.504407,1.759045,3.280695,0.211204,0.740248,0.107974,827.976726,1.861921,0.272517
min,1.210000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.014568,0.000005,0.000000,0.000000,0.000000,0.000000
25%,1.213046e+07,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.333481,0.390164,0.057700,272.000000,0.000000,0.000000
50%,1.216093e+07,0.000000,0.000000,0.000000,1.000000,0.000000,9.000000,1.000000,0.000000,0.000000,2.000000,2.000000,3.000000,12.000000,0.504657,0.564978,0.088700,755.000000,1.000000,0.000000
75%,1.219139e+07,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,1.000000,0.000000,1.000000,3.000000,2.000000,5.000000,14.000000,0.673890,0.664011,0.148500,1570.000000,3.000000,0.000000
max,1.222186e+07,1.000000,1.000000,1.000000,1.000000,19.000000,69.000000,1.000000,1.000000,1.000000,16.000000,3.000000,6.000000,23.000000,0.945741,100.000000,1.000000,4185.000000,22.000000,1.000000

# Missing Value Imputation

#### House_Own

In [102]:
data.loc[(data['House_Own'].isnull()) & (data['Own_House_Age'].notnull()), "House_Own"] = 1

#### Own_House_Age

In [103]:
data['House_Own'].value_counts(1)

House_Own
1.0    0.695364
0.0    0.304636
Name: proportion, dtype: float64

In [104]:
# When a person doesn't Own a House then Own_House_Age should be 0
data.loc[data['House_Own']==0, 'Own_House_Age'] = 0

In [105]:
collateral_vars

['Car_Owned', 'Bike_Owned', 'House_Own']

In [106]:
impute_agg_vars = ['Bike_Owned', 'Car_Owned', 'House_Own']

imputation_cases = data.loc[data['House_Own']== 1].groupby(impute_agg_vars)['Own_House_Age'].mean().reset_index().to_dict(orient='records')
for i in imputation_cases:
  # data
  print(i)
  data.loc[(data['Own_House_Age'].isnull())
  & (data['Bike_Owned'] == i['Bike_Owned'])
  & (data['Car_Owned'] == i['Car_Owned'])
  & (data['House_Own'] == i['House_Own']), ['Own_House_Age']] = i['Own_House_Age']

{'Bike_Owned': 0.0, 'Car_Owned': 0.0, 'House_Own': 1.0, 'Own_House_Age': nan}
{'Bike_Owned': 0.0, 'Car_Owned': 1.0, 'House_Own': 1.0, 'Own_House_Age': 12.129669970591438}
{'Bike_Owned': 1.0, 'Car_Owned': 0.0, 'House_Own': 1.0, 'Own_House_Age': nan}
{'Bike_Owned': 1.0, 'Car_Owned': 1.0, 'House_Own': 1.0, 'Own_House_Age': 12.320521316545173}

In [107]:
impute_agg_vars = ['Bike_Owned', 'House_Own']

imputation_cases = data.loc[data['House_Own']== 1].groupby(impute_agg_vars)['Own_House_Age'].mean().reset_index().to_dict(orient='records')
for i in imputation_cases:
  # data
  print(i)
  data.loc[(data['Own_House_Age'].isnull())
  & (data['Bike_Owned'] == i['Bike_Owned'])
  & (data['House_Own'] == i['House_Own']), ['Own_House_Age']] = i['Own_House_Age']

{'Bike_Owned': 0.0, 'House_Own': 1.0, 'Own_House_Age': 12.100216713356943}
{'Bike_Owned': 1.0, 'House_Own': 1.0, 'Own_House_Age': 12.292536674162116}

In [108]:
impute_agg_vars = ['House_Own']

imputation_cases = data.loc[data['House_Own']== 1].groupby(impute_agg_vars)['Own_House_Age'].mean().reset_index().to_dict(orient='records')
for i in imputation_cases:
  # data
  print(i)
  data.loc[(data['Own_House_Age'].isnull())
  & (data['House_Own'] == i['House_Own']), ['Own_House_Age']] = i['Own_House_Age']

{'House_Own': 1.0, 'Own_House_Age': 12.168419121412022}

In [109]:
null_status()

Score_Source_1                56.488806
Social_Circle_Default         50.820641
Client_Occupation             34.003250
Score_Source_3                22.092470
Credit_Bureau                 15.214680
ID_Days                        4.897584
Score_Source_2                 4.666163
Population_Region_Relative     3.985852
Loan_Annuity                   3.948923
Client_Income_Type             3.037191
Client_Housing_Type            3.025702
Phone_Change                   3.006828
Application_Process_Hour       3.006007
Loan_Contract_Type             2.996159
Employed_Days                  2.994518
Client_Education               2.991236
Child_Count                    2.985491
Active_Loan                    2.983029
Credit_Amount                  2.980567
Bike_Owned                     2.974002
Registration_Days              2.965796
Type_Organization              2.961692
Client_Income                  2.960051
Age_Days                       2.954307
Car_Owned                      2.938715
Client_Marital_Status          2.850085
Application_Process_Day        1.992516
Client_Gender                  1.980206
Client_Family_Members          1.977744
Cleint_City_Rating             1.976924
Own_House_Age                  1.952304
House_Own                      1.952304
Accompany_Client               1.432839
dtype: float64

In [110]:
data.loc[data['Own_House_Age'].isnull(), collateral_vars]

        Car_Owned  Bike_Owned  House_Own
140           0.0         1.0        NaN
228           0.0         NaN        NaN
322           0.0         1.0        NaN
337           0.0         0.0        NaN
374           0.0         0.0        NaN
...           ...         ...        ...
121720        0.0         0.0        NaN
121725        0.0         1.0        NaN
121745        NaN         0.0        NaN
121795        0.0         0.0        NaN
121832        0.0         0.0        NaN

[2379 rows x 3 columns]

In [111]:
data.loc[data['Own_House_Age'].isnull(), collateral_vars]

        Car_Owned  Bike_Owned  House_Own
140           0.0         1.0        NaN
228           0.0         NaN        NaN
322           0.0         1.0        NaN
337           0.0         0.0        NaN
374           0.0         0.0        NaN
...           ...         ...        ...
121720        0.0         0.0        NaN
121725        0.0         1.0        NaN
121745        NaN         0.0        NaN
121795        0.0         0.0        NaN
121832        0.0         0.0        NaN

[2379 rows x 3 columns]

In [112]:
null_status()

Score_Source_1                56.488806
Social_Circle_Default         50.820641
Client_Occupation             34.003250
Score_Source_3                22.092470
Credit_Bureau                 15.214680
ID_Days                        4.897584
Score_Source_2                 4.666163
Population_Region_Relative     3.985852
Loan_Annuity                   3.948923
Client_Income_Type             3.037191
Client_Housing_Type            3.025702
Phone_Change                   3.006828
Application_Process_Hour       3.006007
Loan_Contract_Type             2.996159
Employed_Days                  2.994518
Client_Education               2.991236
Child_Count                    2.985491
Active_Loan                    2.983029
Credit_Amount                  2.980567
Bike_Owned                     2.974002
Registration_Days              2.965796
Type_Organization              2.961692
Client_Income                  2.960051
Age_Days                       2.954307
Car_Owned                      2.938715
Client_Marital_Status          2.850085
Application_Process_Day        1.992516
Client_Gender                  1.980206
Client_Family_Members          1.977744
Cleint_City_Rating             1.976924
Own_House_Age                  1.952304
House_Own                      1.952304
Accompany_Client               1.432839
dtype: float64

#### Client_Occupation

In [113]:
demographic_vars

['Client_Education',
 'Client_Income_Type',
 'Client_Income',
 'Client_Education',
 'Client_Marital_Status',
 'Client_Gender',
 'Age_Days',
 'Type_Organization',
 'Social_Circle_Default',
 'ID_Days']